<div class="w-50 mt-3 shadow p-4 m-auto">
  <h2 class="text-center text-success">Template Driven Form</h2>
  <form (ngSubmit)="getUsersData(mytdform)" #mytdform="ngForm">
    <div class="my-3">
      <input
        class="form-control"
        type="text"
        name="username"
        ngModel
        placeholder="username"
      />
    </div>
    <div class="my-3">
      <input
        class="form-control"
        name="password"
        ngModel
        type="password"
        placeholder="password"
      />
    </div>
    <div class="my-3">
      <input
        class="form-control"
        name="email"
        ngModel
        type="email"
        placeholder="email"
      />
    </div>
    <div class="my-3 form-check form-check-inline">
      <input
        class="form-check-input"
        value="male"
        type="radio"
        name="gender"
        ngModel
      />
      <label class="form-check-label">Male</label>
    </div>
    <div class="my-3 form-check form-check-inline">
      <input
        class="form-check-input"
        value="female"
        type="radio"
        name="gender"
        ngModel
      />
      <label class="form-check-label">Female</label>
    </div>
    <div class="my-3 form-check form-check-inline">
      <input
        class="form-check-input"
        value="other"
        type="radio"
        name="gender"
        ngModel
      />
      <label class="form-check-label">Other</label>
    </div>
    <div>
      <input type="submit" class="btn btn-outline-success" />
    </div>
  </form>
</div>
