<!-- <div style="padding: 50px">
  <button color="warn" mat-raised-button [matMenuTriggerFor]="mymenu">
    Options
  </button>

  <mat-menu #mymenu>
    <menu mat-menu-item>react</menu>
    <menu mat-menu-item>Angular</menu>
    <menu mat-menu-item>Vue js</menu>
  </mat-menu>
</div> -->

<!-- <div style="padding: 50px">
  <button color="warn" mat-raised-button [matMenuTriggerFor]="mymenu">
    Options
  </button>

  <mat-menu #mymenu>
    <menu mat-menu-item [matMenuTriggerFor]="reactmenu">react</menu>
    <menu mat-menu-item>Angular</menu>
    <menu mat-menu-item>Vue js</menu>
  </mat-menu>

  <mat-menu #reactmenu>
    <menu mat-menu-item>Component</menu>
    <menu mat-menu-item>State</menu>
    <menu mat-menu-item>Props</menu>
  </mat-menu>
</div> -->
