#text h2 {
  margin-bottom: 20px;
}
.card {
  width: 300px;
  padding: 7px;
  box-shadow: 0 0 10px red;
  margin: 10px;
}
.newcard {
  width: 300px;
  padding: 12px;
  box-shadow: 0 0 10px green;
  margin: 10px;
}
