<div id="section1Container">
  <table>
    <tr>
      <td id="leftColumn" align="center">
        <img
          src="https://images.pexels.com/photos/7247412/pexels-photo-7247412.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          width="300"
          height="300"
        />
      </td>

      <td id="rightColumn">
        <h4 style="margin: 10px 0px">Hello Everyone !!!</h4>
        <h1 style="margin: 20px 0px">I m Sneha Reddy</h1>
        <p style="margin: 10px 0px">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
          nulla nisi rerum sequi dolorum facilis deleniti fuga dolorem
          dignissimos tempora.
        </p>
        <p style="margin: 10px 0px">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
          dicta beatae molestiae, voluptas doloremque magni voluptates
          consequuntur error ut, ad eveniet, perspiciatis maiores at asperiores
          illo id! Consequuntur, possimus, quisquam rerum eius modi tempore iure
          eum molestias ratione a dicta!
        </p>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
          numquam incidunt impedit ratione alias explicabo tempora culpa
          deleniti, nam optio?
        </h4>
      </td>
    </tr>
  </table>
</div>
