#section2Container {
  height: 250px;

  margin-bottom: 50px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
}

#section2Container img {
  border-radius: 50%;
}
#section2Container div {
  text-align: center;
}
