<div id="section2Container">
  <div>
    <img
      src="https://images.pexels.com/photos/4065864/pexels-photo-4065864.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      width="200"
      height="200"
    />
    <h3>Profile</h3>
  </div>
  <div>
    <img
      src="https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      width="200"
      height="200"
    />
    <h3>Resume</h3>
  </div>
  <div>
    <img
      src="https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      width="200"
      height="200"
    />
    <h3>Contact</h3>
  </div>
  <div>
    <img
      src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      width="200"
      height="200"
    />
    <h3>Projects</h3>
  </div>
</div>
