<h2 mat-dialog-title>Proceed To Next</h2>

<p mat-dialog-content>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. At facilis omnis
  soluta excepturi praesentium modi qui, accusamus iusto dolorum obcaecati ipsam
  aut, voluptate cupiditate dolore asperiores ipsa voluptatibus similique?
  Reprehenderit voluptatibus quo et magni beatae ut, atque perspiciatis autem
  earum? Enim animi unde repellat reprehenderit neque, odio dolore ipsum
  obcaecati!
</p>

<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="navigateToHome()">Proceed</button>
</mat-dialog-actions>
