<div class="HomeContainer">
  <div class="subHomeContainer">
    <h2>Welcome to Shopping World</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur
      quos, voluptates qui maxime suscipit quod sunt earum similique veritatis
      praesentium iure vero commodi iste laudantium iusto voluptatem eaque
      soluta laboriosam numquam quam, quis ipsam aliquid. Corrupti, molestias!
      Neque dignissimos quia, consequatur autem facere quis tempore sed eveniet
      qui illo voluptatibus, odio rem exercitationem odit minus? Nostrum tenetur
      cum ullam officiis sed sint ex magnam nihil, mollitia animi cupiditate ea
    </p>

    <button mat-stroked-button color="primary">Explore More</button>
  </div>
</div>
