<div class="footer">
  <h2 id="footer">{{ footerTitle }}</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima harum hic,
    voluptates error ad, alias eius officia fugiat consequatur qui iure ab,
    expedita dolorum perferendis? Corporis, libero. Delectus labore modi quas
    sint beatae ea iusto repudiandae eaque a dignissimos, sed corporis
    voluptatibus ut unde laboriosam nobis nihil rerum facere placeat neque quos.
    Neque odio labore atque reprehenderit voluptas blanditiis tenetur doloremque
    corporis, commodi, eum vitae quidem consectetur sapiente in alias recusandae
    quo at rem, consequuntur consequatur molestiae nulla quisquam ad
    perspiciatis. Consequuntur sed exercitationem, voluptas assumenda omnis
    ullam obcaecati aut vel praesentium! Corrupti ullam id blanditiis unde quae
    consequuntur autem.
  </p>
</div>
