<div id="main">
  <h2>Main Component</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quae et
    dolorem fuga porro nostrum illum laudantium incidunt dignissimos eaque saepe
    quisquam expedita accusamus! Earum esse quasi eos odit mollitia maiores
    illum ullam, laudantium iure, eligendi laboriosam numquam. Distinctio, fuga
    eum veritatis possimus, deserunt eaque, unde perferendis maxime molestias
    laborum nulla ullam perspiciatis reiciendis modi praesentium corrupti
    aliquid sapiente ipsam non ut rem explicabo dolores. Eaque cum dolorem
    voluptatum iste, ea voluptates atque distinctio. Officia iste hic illum
    perspiciatis odit assumenda aliquam repudiandae deserunt exercitationem
    distinctio? Animi iusto molestiae nobis dolore saepe quam unde quaerat
    voluptas minima temporibus est, sunt totam in odio beatae quod magnam libero
    quo eius soluta aliquid? Voluptatum unde, nobis ratione consequatur
    cupiditate praesentium totam enim? Incidunt corporis sunt deserunt
    repellendus suscipit, exercitationem, labore quasi expedita sit autem
    distinctio dolorum. Pariatur, expedita! Fugiat quisquam dolore hic ab eius
    beatae nam animi sit, voluptate repellendus nobis sunt modi, recusandae
    maiores nisi nihil qui similique suscipit, ex obcaecati iure a voluptates.
    Veritatis repellat ullam est recusandae iusto dolores, maiores eligendi
    perferendis nesciunt enim vel ab, officiis aspernatur doloremque deleniti
    voluptate sunt ducimus dolore placeat commodi esse totam ipsam! Numquam amet
    cupiditate blanditiis perferendis inventore reiciendis doloremque nihil in!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, eum.
    Repellendus, incidunt molestias atque eos at veritatis, saepe illo deserunt
    adipisci facilis ullam delectus, eaque hic dolore neque vero? Quibusdam
    quidem pariatur odit, numquam iure assumenda laborum aut quis. Animi vero
    suscipit est doloremque itaque amet numquam sed, aliquam quod dolorum saepe
    cum, eligendi porro alias nihil minus aut asperiores? Vero tempore nihil
    exercitationem saepe laborum blanditiis, perspiciatis deserunt unde adipisci
    accusantium deleniti, officiis, autem id molestiae similique praesentium
    dolorum corrupti sunt. Labore, cumque vero consectetur ipsa sint vitae
    fugiat aspernatur ab autem dolorum, libero aut qui, a culpa voluptatum?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
    accusantium consequuntur debitis molestiae quidem ex iure dolorem odio
    assumenda quo, culpa aut asperiores? Dolore dolorem ex soluta velit
    doloribus esse neque nam quasi ratione nobis eligendi dolor deleniti
    reiciendis sunt ducimus quas beatae perferendis iusto tempore quisquam, odio
    assumenda sint? Et rerum dolore natus aliquid voluptates expedita optio
    eligendi velit, nam odit inventore veniam aut in iste cum praesentium minima
    animi illo asperiores nulla, impedit nemo. Laudantium, minima cupiditate,
    rem magni repellat odio perspiciatis debitis doloremque quis vero eaque
    ratione iusto molestias illum amet nesciunt, unde natus! Pariatur, quia
    minus.
  </p>

  <button>More Details</button>
</div>
