.profileContainer {
  width: 1000px;
  height: 400px;
  box-shadow: 0 0 10px red;
  margin: 50px auto;
  display: flex;
}
.imageSection {
  width: 40%;
}
.contentSection {
  width: 60%;
  padding: 50px;
}
.darkTheme {
  background-color: black;
  color: white;
}
.lightTheme {
  background-color: white;
  color: black;
}
