<div id="text" [class]="className">
  <dl>
    <dt><b>User Image</b></dt>
    <dd><img [src]="imageUrl" [width]="width" [height]="height" /></dd>
    <!-- <dd><img src="{{ imageUrl }}" width="{{ width }}" height="200" /></dd> -->
    <dt><b>User Name</b></dt>
    <dd>{{ username }}</dd>

    <dt><b>City</b></dt>
    <dd>{{ city }}</dd>
  </dl>

  <!-- <button (click)="changeInfo()">Change City</button> -->
  <input type="checkbox" (change)="changeInfo($event)" />
  <label>{{ label }}</label>
</div>
