<div class="directiveTask">
  <h2>Random User Details</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum pariatur
    aut velit sunt ipsam sed! Hic similique beatae, cum sequi neque, ullam
    laborum libero inventore eveniet non amet esse asperiores velit corrupti?
    Soluta perspiciatis dolore facilis hic, eos laudantium, qui aliquid magnam
    excepturi minima fuga vitae sunt. Aliquid qui, modi in minima doloribus
    culpa perspiciatis maiores exercitationem Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Voluptatum pariatur aut velit sunt ipsam sed!
    Hic similique beatae, cum sequi neque, ullam laborum libero inventore
    eveniet non amet esse asperiores velit corrupti? Soluta perspiciatis dolore
    facilis hic, eos laudantium, qui aliquid magnam excepturi minima fuga vitae
    sunt. Aliquid qui, modi in minima doloribus culpa perspiciatis maiores
    exercitationem deserunt corrupti fugit, similique voluptate aspernatur
    commodi quia eos inventore porro placeat e deserunt corrupti fugit,
    similique voluptate aspernatur commodi quia eos inventore porro placeat
    excepturi.
  </p>
  <button (click)="getRandomUsers()" [disabled]="disableButton">
    Get Users
  </button>
  <div
    *ngIf="showUI"
    style="
      width: 300px;
      justify-content: space-evenly;
      text-align: center;
      margin: 20px auto;
      display: flex;
    "
  >
    <div>
      <input type="radio" name="gender" checked (change)="filterUsers('all')" />
      <label>ALL</label>
    </div>
    <div>
      <input type="radio" name="gender" (change)="filterUsers('male')" />
      <label>MALE</label>
    </div>
    <div>
      <input type="radio" name="gender" (change)="filterUsers('female')" />
      <label>FEMALE</label>
    </div>
  </div>
  <table *ngIf="showUI" width="80%" style="margin: 30px auto">
    <thead>
      <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        <th>CITY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" align="center">
        <td>
          <img src="{{ user.picture.medium }}" width="70" height="70" />
        </td>
        <td>
          {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
        </td>
        <td>{{ user.gender }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location.city }}</td>
      </tr>
    </tbody>
  </table>
</div>
